# 忽略以下文件
*.zip
*.rar
*.pt
*.torch
*.tar.gz
*.pyc
.idea/
rust/
whale-quant/
regen-main/
RL4LMs-main/
NER/model/stanford-corenlp-4.5.5/
NER/model/bert-base-uncased/
EasyGNN/venv
GraphEdit-main/GNN/datasets
model/
GraphEdit-main/LLM/scripts/*_model
LLMEnG/cora
AIHomework/final_work/Images
AIHomework/final_work/captions.txt
*.pth
PAGED/dataset/image
PAGED/dataset/bpmai
LLMEnG/my-data/image

!/NER/package/en_core_web_sm-3.7.1.tar.gz
!/NER/package/pytorch-crf-0.7.2.tar.gz